div{
display:flex;
flex-flow:row wrap;
width: 150px;
margin: 0 auto;
    
}

button{
    margin:1px;
    background: #fff;
    width:40px;
    height: 40px;
    border-radius: 2px;
    border: 1px solid grey;
    
}

h2{
    text-align: center;
}